<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>88435624542-i8jsofm1s9h15j4cmekh8mnq1qfdrg4i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88435624542-i8jsofm1s9h15j4cmekh8mnq1qfdrg4i</string>
	<key>API_KEY</key>
	<string>AIzaSyAXsBPs5173Tor9h2OtZexr74Pjbkp0olE</string>
	<key>GCM_SENDER_ID</key>
	<string>88435624542</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>come.alfarqadan.app</string>
	<key>PROJECT_ID</key>
	<string>al-farqadan-app</string>
	<key>STORAGE_BUCKET</key>
	<string>al-farqadan-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:88435624542:ios:57dc8a6bcf0d7a186142cf</string>
</dict>
</plist>